
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>




</head>
<body>


    <div class="container">

        <div class="searchContainer">
            <h1>Search for :</h1>
            <input type="text" id="searchPaper" class="form-control" placeholder="Search ... " />

        </div>
    </div>
    <br />
    <div id="paper">
        
    </div>
    <script>
        $(document).ready(function(){
            $('#searchPaper').on('keyup', function(e){
                let itemname = e.target.value;
                

                // make request for paper
                $.ajax({
                    url: 'https://api.dp.la/v2/items?q=' + itemname + '&api_key=2e4248a6f039a3cd52d34bf1217d49a7'  // Json-ld data
                    //  url: 'https://www.loc.gov/search/?q=' + itemname+  '&fo=json'                               //Json data
                    //url: 'https://export.arxiv.org/api/query?search_query=all:' + itemname +'&max_results=1' // Xml data 


                }).done(function (data) {
                    var docContainer = $("#paper");
                    console.log(docContainer);

                    //for (var x = 0; x < data.docs.length; x++) {
                    //    var div = document.createElement("div")
                    //    div.textContent = data.docs[x].dataProvider;
                        

                    //    docContainer.append(div);

                    //}
                    document.getElementById("paper").innerHTML = `



<h1> You've got (${data.count} results )</h1>
${data.docs.map(function (someParam) {
                        return `
<div class="text-muted">
<table class="table table-hover ">
  <thead>
    <tr>
      <th scope="col">make me smile</th>
      <th scope="col"></th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
    </tr>
  </thead>
  <tbody>  
    
    
    <tr class="table-primary">
      <th scope="row">Danger</th>
      <td >${someParam.sourceResource.title}</td>
      <td>${someParam.provider.name}<td>
      <td>Column content</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row"><button type="button" class="btn btn-outline-secondary">Secondary</button></th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    
  </tbody>
</table> 

</div>
`


}).join('')}
        





`


                });
            });     

        });

       

  

       




    </script>


</body>
</html>

