
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="searchContainer">
            <h1>Search for :</h1>
            <input type="text" id="searchPaper" class="form-control" placeholder="Search ... " />
        </div>

        <br />
        <div>
            <table id="paper" class=" table  text-muted">
                <thead>
                    <tr>
                        <th scope="col">Name of Item </th>
                        <th scope="col">What is it </th>
                        <th scope="col">Where is it at?</th>
                        <th scope="col">Do you want to save the link</th>
                    </tr>
                </thead>
               
                    <tbody id="therow">

                    </tbody>
                
            </table>
        </div>
    </div>
    <div id="Savedids">

    </div>
    <script>
        $(document).ready(function(){
            $('#searchPaper').on('keyup', function(e){
                let itemname = e.target.value;
                

                // make request for paper
                $.ajax({
                    url: 'https://api.dp.la/v2/items?q=' + itemname + '&api_key=2e4248a6f039a3cd52d34bf1217d49a7'  // Json-ld data




                }).done(function (data) {
                    var docContainer = $("#paper");
                    console.log(docContainer);

                    //for (var x = 0; x < data.docs.length; x++) {
                    //    var div = document.createElement("div")
                    //    div.textContent = data.docs[x].dataProvider;


                    //    docContainer.append(div);

                    //}


                   

                    (document).getElementById("therow").innerHTML = `

                    


${data.docs.map(function (someParam) {
                        return `
    
        <tr class="table-primary">            
            <td>${someParam.sourceResource.title}</td>
            <td>${someParam.sourceResource.description}</td >
            <td>${someParam.provider.name}</td>
            <td><button onclick="someFunction()"  class="btn btn-outline-secondary">Save</button></td>
           
        </tr>
    
` // < = there is a back tick here 


}).join('')}
        

`


                });
            });     

        });   

    </script>


</body>
</html>

