<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Papers</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
    <header>
        <h1>something</h1>
    </header>
    <div id="container">
        <h1 id="heading1">HeadingOne</h1>
        <p id="para1">this is  anvlkekvnk eri lwfn knf;orfw enf</p>

    </div>
    <div id="container2">
        <h1 id="heading2">Headingtwo</h1>
        <p id="para2">this is  anvlkekvnk erijfyugh/ougiyguhjiyfgcvhjuiyfhihoyyg767890-0987890f</p>

    </div>
</body>
</html>