
@{
    ViewBag.title = "My Papers";

}


<h1>@ViewBag.title</h1>
<form method="post" class="form-inline my-2 my-sm-0">

    <div>
        <input name="keywords" id="keywords" class="form-control mr-sm-2" type="search" placeholder="Search" >
        <input class="btn btn-outline-success my-2 my-sm-0" type="button" value="Random Search"  id="keywords"   />
    </div>
    <br />

    <div>
        
        
    </div>
   
</form>

@section Scripts 
{
    <script>
        $(document).ready(function () {
        $.("button").click(function () {
            $.post("http://export.arxiv.org/api/query?search_query=all:", {


            }

        });
      });
     
    </script>
}
