
@{
}

<h1>Search Keywords</h1>
<form method="post" class="form-inline my-2 my-sm-0">

    <div>
        <input name="keywords" id="keywords" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Random Search" />
    </div>
    <br />

    <div>
        <label for="absract">Absract</label>
        <input name="absract" id="absract" type="text" />
    </div>
   





</form>
